*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle.properties

# 🔒 Keystore and signing files
*.jks
*.keystore
**/release/*.jks
**/release/*.keystore

app/release/
app/build/outputs/apk/release/
app/build/outputs/bundle/release/
